<!-- Horizontal Navbar -->
<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid fs-4 text-white">
        <div class="navbar-brand fs-3 font-family">Welcome, {{currentUserDetails.name}}!</div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mx-0 mx-lg-5 bg-oval" routerLink="/requests" routerLinkActive="active">Requests</div>
            <div class="bg-oval" routerLink="/find-a-tutor" routerLinkActive="active" *ngIf="isStudent">Find a Tutor
            </div>
            <div class="me-4 d-block d-lg-none bg-oval" (click)="logoutAlert()">Logout</div>
        </div>
        <div class="me-4 d-none d-lg-block bg-oval" (click)="logoutAlert()">Logout</div>
    </div>
</nav>

<!-- Search bar -->
<div class="container-fluid mt-3">
    <div class="mx-auto custom-width">
      <form class="d-flex" role="search" [formGroup]="filterForm">
        <select class="form-select me-3" formControlName="experience_id">
          <option selected value="0">No Selection</option>
          <option value="1">Less than a year</option>
          <option value="2">1 to 5 years</option>
          <option value="3">5 to 10 years</option>
          <option value="4">More than 10 years</option>
        </select>
        <button class="btn btn-primary" type="button" (click)="filter()">Filter</button>
      </form>
    </div>
  </div>

<!-- Tutors list -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 font-family" *ngFor="let tutor of allTutors">
            <div class="profile-card">
                <img class="profile-picture" [src]="'http://localhost:3000/' + tutor.image" alt="'image' + tutor.id">
                <div>
                    <h5 class=""><span class="fw-bold" style="color: #551172;">{{tutor.name}}</span></h5>
                    <h6 class=""><i class="fa-solid fa-envelope fa-xs me-2"></i><span class="fw-bold">Email:</span> {{tutor.email}}</h6>
                    <h6 class=""><i class="fa-solid fa-graduation-cap fa-xs me-1"></i><span class="fw-bold">Qualification:</span> {{tutor.qualification.level}}</h6>
                    <h6 class=""><i class="fa-solid fa-chalkboard-user fa-xs me-1"></i><span class="fw-bold">Experience:</span> {{tutor.experience.category}}</h6>
                    <button type="button" class="btn btn-color btn-sm fw-bold" (click)="sendTutorRequestAlert(tutor.id, tutor.name)"
                        style="--bs-btn-border-radius: 30px;">Request</button>
                </div>
            </div>
        </div>
    </div>
</div>