.bg-image {
    /* background-image: url('./../assets/2.jpeg'); */
    /* background-color: rgb(41, 205, 208); */
    /* main background color */
    /* background-color: #0693d06b; */
}

.bg-picture {
    background-image: url('./../assets/gome-u7.jpeg');
}

.logo-span-first {
    font-family: 'Lobster', cursive;
}

.text-span-first {
    color: #d1ac16;
}

.text-span-second {
    color: red;
}

.logo-span-second {
    font-family: 'Dancing Script', cursive;
}

#side_nav {
    /* Sidebar color */
    background: #551172;
    min-width: 250px;
    max-width: 250px;
    max-height: 100vh;
    min-height: 100vh;
}

.content {
    min-height: 100vh;
    width: 100%;
}

.sidebar li:hover {
    background: #eee;
    border-radius: 20px;
    width: 220px;
}

.sidebar li a:hover {
    color: #000;
}

.sidebar li a {
    color: #fff;
    font-size: 22px;
}

ul {
    font-family: Cambria;
}

@media (max-width: 767px) {
    #side_nav {
        /* background: #0693d0; */
        background: #551172;
        min-width: 130px;
        max-width: 130px;
    }
}