.bg-oval {
    background: #551172;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Cambria;
}

.font-family {
    font-family: Cambria;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.profile-card {
    height: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 60px;
    margin: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    background-color: #f3e1fb;
}

.modal-body-bg-color {
    background-color: #f3e1fb;
}

.modal-header-bg-color {
    background-color: #551172e2;
    color: white;
}

.modal-footer-bg-color {
    background-color: #ea9b13d2;
    padding: 15px;
}

.first-element {
    background-color: rgba(127, 255, 212, 0.845);
}

.btn-color {
    background-color: #8b1c61;
    color: white;
}

@media (max-width: 991px) {
    .bg-oval {
        background: none;
        font-family: Cambria;
    }
}