<!-- Horizontal Navbar -->
<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid fs-4 text-white">
        <div class="navbar-brand fs-3 font-family">{{currentUserDetails.name}}'s Requests</div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mx-0 mx-lg-5 bg-oval position-relative" routerLink="/requests" routerLinkActive="active">Requests
            </div>
            <div class="bg-oval" routerLink="/find-a-tutor" routerLinkActive="active" *ngIf="isStudent">Find a Tutor
            </div>
            <div class="me-4 d-block d-lg-none bg-oval" (click)="logoutAlert()">Logout</div>
        </div>
        <div class="me-4 d-none d-lg-block bg-oval" (click)="logoutAlert()">Logout</div>
    </div>
</nav>

<!-- Tutor Request list -->
<div *ngIf="isStudent; else createStudentRequests">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 font-family" *ngFor="let request of myTutorRequests">
                <div class="profile-card">
                    <img class="profile-picture" [src]="'http://localhost:3000/' + request.tutor.image" alt="'image' + request.tutor.id">
                    <div>
                        <h5 class=""><span class="fw-bold" style="color: #551172;">{{request.tutor.name}}</span></h5>
                        <h6 class=""><i class="fa-solid fa-envelope fa-xs me-2"></i><span class="fw-bold">Email:</span> {{request.tutor.email}}</h6>
                        <h6 class=""><i class="fa-solid fa-graduation-cap fa-xs me-1"></i><span class="fw-bold">Qualification:</span> {{request.tutor.qualification.level}}</h6>
                        <h6 class=""><i class="fa-solid fa-chalkboard-user fa-xs me-1"></i><span class="fw-bold">Experience:</span> {{request.tutor.experience.category}}</h6>
                        <button type="button" class="btn btn-danger btn-sm fw-bold" (click)="deleteRequest(request.tutor.id, request.tutor.name)"
                            style="--bs-btn-border-radius: 30px;">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Student requests list -->
<ng-template #createStudentRequests>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 font-family" *ngFor="let request of myStudentRequests">
                <div class="profile-card">
                    <img class="profile-picture" [src]="'http://localhost:3000/' + request.student.image"
                        alt="'image' + request.student.id">
                    <div>
                        <h5 class=""><span class="fw-bold" style="color: #551172;">{{request.student.name}}</span></h5>
                        <h6 class=""><i class="fa-solid fa-envelope fa-xs me-2"></i><span class="fw-bold">Email:</span> {{request.student.email}}</h6>
                        <h6 class=""><i class="fa-solid fa-book-open fa-xs me-2"></i><span class="fw-bold">Grade:</span> {{request.student.grade}}</h6>
                        <button type="button" class="btn btn-success btn-sm me-3 fw-bold" (click)="acceptStudent(request.student.id, request.student.name)"
                            style="--bs-btn-border-radius: 30px;">Accept</button>
                        <button type="button" class="btn btn-danger btn-sm fw-bold" (click)="rejectStudent(request.student.id, request.student.name)"
                            style="--bs-btn-border-radius: 30px;">Reject</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>