.bg-color {
    /* book color */
    background-color: #3f0e6a44;
    padding: 100px;
    height: 700px;
    border-radius: 60px;
}

.button-bg-color:disabled {
    background: #891965;
}

.button-bg-color {
    background: #891965;
    color: white;
}

input {
    background-color: #f3e1fb;
}

.link-color {
    /* color: rgb(59, 3, 246); */
    color: #ce7624;
    text-decoration: none;
}

.top-marging {
    margin-top: 100px;
}

h2 {
    font-family: 'Dancing Script', cursive;
    color: #d1ac16;
}