.bg-color {
    /* book color */
    background-color: #3f0e6a44;
    padding: 100px;
    height: 600px;
    border-radius: 60px;
}

.button-bg-color:disabled {
    background: #891965;
}

.button-bg-color {
    background: #891965;
    color: white;
}

.top-marging {
    margin-top: 100px;
}

input, select {
    /* background-color: #f3e1fb; */
}

h2 {
    font-family: 'Dancing Script', cursive;
    color: #d1ac16;
}

h1 {
    font-family: 'Dancing Script', cursive;
}

.modal-body-bg-color {
    background-color: #f3e1fb;
}

.modal-header-bg-color {
    background-color: #551172e2;
    color: white;
}